ul {
    text-align: center;
    list-style-type: none;
}
img {
    width: 800px;
    height: 800px;
    object-fit: scale-down;
    max-width: 100%;
}

H1, h2, h3, h4, h5 {
    color: #38666b;
}
.jumbotron {
    background-image: url(DarkBar.jpg);
    background-size: cover;
    color: white;
    height: 400px;
   
}
.jumbotron, h1 { 
    color: #ffffff; 
}
body {
    text-align: center;
    color: #737373;
}

.navbar {
    color: c;
}
.btn{
    color:#866d4b;
    border-color: #866d4b;
    
}
.btn:hover{
    color: white;
    background: #866d4b;

}
